.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  /* TODO выровнять фому по центру */
}

.page {
  margin-top: 100px;
}

.thumbnail .caption {
  text-align: center;
}

.card {
  border-radius: 5px;
  box-shadow: 12px 10px 40px 5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 12px 10px 40px 5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 12px 10px 40px 5px rgba(0, 0, 0, 0.14);
  margin: 15px 0;
}

.card:hover {
  border: 1px solid #000;
  border-radius: 5px;
}
