.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  /* TODO выровнять фому по центру */
}

.thumbnail .caption {
  text-align: center;
}

.card {
  border-radius: 5px;
  box-shadow: 12px 10px 40px 5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 12px 10px 40px 5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 12px 10px 40px 5px rgba(0, 0, 0, 0.14);
  margin: 15px 0;
}

.card:hover {
  border: 1px solid #000;
  border-radius: 5px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .btn-link {
  color: #ffffff;
}

.navbar-inverse {
  background-color: #72abe6;
  border: none;
}

a {
  color: rgb(20, 68, 200);
}

#version {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggleVersion {
  display: block;
  margin: 0 auto;
}

#photo {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}


#logo{
    width: 126px;
    height: 51px;
}

#logoBlock{
  margin-bottom: 20px;
}